@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400,500,600,700,800,900');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body{
	font-family: 'Open Sans', sans-serif;
	background: #ecf0f1;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
}

a{ text-decoration: none; color: #323232 }


.button{
	padding: 10px 20px;
	display: inline-block;
	font-size: 15px!important;
	text-transform: uppercase!important;
}

.button.red{
	background: #e74c3c!important;
	padding: 10px 20px;
}
.button.green{
	background: #2ecc71!important;
	padding: 10px 20px;
}
.button.yellow{
	background: #f1c40f!important;
	padding: 10px 20px;
}
.button.blue{
	background: #3498db!important;
	padding: 10px 20px;
}
.button.violet{
	background: #9A59B6!important;
	padding: 10px 20px;
}
.button.orange{
	background: #f39c12!important;
	padding: 10px 20px;
}

.button .fa{
	margin-left: 10px;
	font-size: 18px;
}

.breaker{
	height: 10px;
}

/* ======================================= Top Header ======================================= */
.top-header{
	background: #ffffff;
	color: #FFFFFF;
	width: 100%;
	z-index: 1000;
	box-shadow:  0 4 20px -2px #BFCFCF;
	position: relative;
	margin-bottom: 30px;
}

.top-header h1{
	color:#000;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	padding-left: 0;
}

.top-header ul.tab-menu{
	color: #000000;
	padding: 2px 0;
	vertical-align: middle;
	display: table;
}

.top-header ul.tab-menu li{
	display: table-cell;
	vertical-align: middle;
	margin-right: 40px;
}

.responsive-main-menu{
	display: none;
}
.menu-spacer-50{
	height: 0;
}

.top-header .main-menu{ margin-top: 10px; }

.top-header .main-menu li{
	float: left;
	margin-right: 30px;
}

.top-header .main-menu a{
	color: #888888;
}
.top-header .main-menu a:hover{
	color: #BBBBBB;
}

.top-header .user-info{ 
	position: absolute;
	display: table;
	right: 5px;
	top:15px;
}

.top-header .user-info .user-options{
	width: 200px;
	background: #ecf0f1;
	border-radius: 3px;
	position: absolute;
	left: -170%;
	padding: 20px;
	display: none;
}

.top-header .user-info .user-options:after{
content: "";
    position: absolute;
	top: 5;
	right: -30;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 36px solid #ecf0f1;
    border-bottom: 18px solid transparent;
}

.top-header .user-info .user-options.show{
	display: block;
}

.top-header .user-info .user-options a:hover{
	color:#000000;
	font-weight: 600;
}


.top-header .user-info .avatar{
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	float: left;
	margin-right: 10px;
}

.top-header .user-info p{ 
	display: table-cell;
	vertical-align: middle; 
	font-size: 16px;
	font-weight: 900;
	color: #000000;
}

.top-header .user-info span{
	display: block;
	width: 100%;
	color: #DDDDDD;
	margin-right: 10px;
	margin-top: 5px;
}

.top-header .user-info a{
	color: #888888;
}

.header-top{
	background: #394959;
	color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 20px;
}

.header-top h1{
	font-size: 30px;
}

.header-top i{
	font-size: 30px;
}
/* ===================== SIDE MENU AMIN =================== */
.admin-header{
	background: #bdc3c7;
	color: #34495e;
	height: 100%;
	width: 15%;
	margin-left: 0;
	float: left;
	padding-top: 40px;
}

.admin-header .logo img{
	width: 100%;
	padding-top: 10px;
}

.admin-header li {
}

.admin-header li a{
	color: #FFFFFF;
	padding: 20px 20px;
	display:block;
	transition: all 0.3s ease-in-out;
}
.admin-header li a:hover{
	background: #f4f4f4;
	color: #888888;
}
.admin-header li.current a{
	background: #f4f4f4;
	color: #888888;
}

/*
.admin-header ul{
	display: inline-block;
}

.admin-header li{
	float: left;
	margin-right: 5px;
}
*/


/* ====================================== Middle Header ============================================ */
.middle-header{
	background: #262b33;
	color: #FFFFFF;
	margin-bottom: 50px;
	width: 20%;
	height: 100%;
	position: fixed;
	display: inline-block;
	z-index: 1001;
	top: 0;
}

.middle-header .logo{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #3b434e;
	text-align: center;
}
.middle-header .logo img{
	width: auto;
	max-width: 100%;
	margin: 10px 0;
}

.dashboard-wrapper{
	width: 80%;
	float: right;
}
.spacer{
	padding: 20px;
}


.middle-header ul{
	display: block;
}

.middle-header li{
	display: block;
	position: relative;
}
.middle-header li a{
	color: #819599;
	padding-left: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	font-weight: 600;
	display: block;
	transition: all 0.2s ease-in-out;
}

.middle-header ul li a i{
	position: absolute;
	left: 30px;
	top: 10px;
	font-size: 30px;
	padding-right: 10px;
}

.middle-header li a:hover{
	color: #d4d5d6 ;
}
.middle-header li.current a{
	color: #ffffff;
	border-radius: 3px 3px 0px 0px;
}

/* Over View Graph */
.overview-graph{
	background: #FFFFFF;
	padding: 20px;
	margin-bottom: 50px;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart-container{
    width: 100%;
    margin: 0px;
}
.chart-container-clickthrough{
	width: 100%;
	margin: 0px;
}

.table-overview{
	width: 100%;
	margin-bottom: 50px;
	color: #888888
}
.table-overview tr.header{
	font-family: 'Raleway', sans-serif;
	background: #009688;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
}
.table-overview tr.header th{ padding-left: 20px; }

.table-overview .big{ width: 50%; }
.table-overview .small{ text-align: right; }

.table-overview th,
.table-overview td{ padding: 10px; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #DDDDDD }

.sub-charts{
	padding-bottom: 100px;
}

.sub-charts .chart-title,
.chart-title{
	font-family: 'Raleway', sans-serif;
	background: #009688;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	padding: 15px;
	position:relative;
}

.chart-title.orange{
	background: #d35400;
}
.chart-title.red{
	background: #c0392b;
}
.chart-title.wisteria{
	background: #8e44ad;
}
.chart-title.blue{
	background: #3498db;
}

/*
#filter{
	position: absolute;
	background: none;
	border: none;
	color: #ccc;
	font-size: 18px;
	outline: none;
	right: 20px;
	text-align: center;
	border:1px solid #888888;
	padding: 8px;
}
*/

#filter{
	float: right;
	background: none;
	border: 0px;
	color: #ffffff;
	font-size: 18px;
	outline: none;
	border:1px solid #ffffff;
	padding: 8px;
}


 .chart-title option.filter-item{
	color: #cccccc;
	background: none;
	text-align: center;
}

.chart-title span{
	display: inline-block;
	float: left;
	margin: 0px;
	margin-top: 10px;
}

.sub-charts .item{
	margin-bottom: 50px;
}


/* ============================ Overview Selector CSS ======================== */


#overview-selector {
	display: none;
}

#ctr-selector {
	display: none;
}

#clicks-selector {
	display: none;
}

#session-selector {
	display: none;
}

#bounce-back-selector {
	display: none;
}

#session-duration-selector {
	display: none;
}

.sub-charts .one-half .ctr-graph,
.sub-charts .one-half .clicks-graph,
.sub-charts .one-half .session-graph,
.sub-charts .one-half .bounce-back-graph,
.sub-charts .one-half .session-duration-graph{
	background: #FFFFFF;
	padding: 40px;
}
.data-chart-1-container{
	display: block;
}

.DateRangeSelector{
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -1em;
    margin-left: -1em;
}

 .DateRangeSelector-item{	
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 1em;
	-webkit-box-flex: 1;
	flex-grow: 1;
    flex-shrink: 0;
	
}

.DateRangeSelector-item label{
	display: block;
	margin-bottom: 10px;
}

.DateRangeSelector-item input{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #AAAAAA;
	width: 100%;
	padding: 15px;
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	outline: transparent;
}

/** =========================== MY SUBSCRIPTIONS ======================== **/
.subscriptions-holder{
	background: #ffffff;
	padding: 20px 50px;
}

.subscriptions-holder h1{
	padding-top: 15px;
	padding-left: 0;
	padding-bottom: 10px;
	color: #009688;
	font-weight: 500;
	font-size: 20px;
	border-bottom: 1px solid #009688;
	margin-bottom: 30px;
	position: relative;
}

a.menu-button{
	color: #ffffff;
	padding: 10px;
	background: #3498db;
	font-size: 18px;
}

a.menu-button i{
	padding: 0 10px;
	font-size: 16px;
}

.subscriptions-holder .subscription-details .subscription-title{
	background: #2cc185;
	padding: 20px;
	color: #ffffff;
}

.subscriptions-holder .subscription-details .items{
	text-align: center;
}
.subscriptions-holder .subscription-details .items h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}


.subscriptions-holder .subscription-details .subscriptions{
	margin-top: 30px;
	margin-bottom: 30px;
}

.subscriptions-holder .subscription-details .subscriptions .s-items{
	padding: 20px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.subscriptions-holder .subscription-details .subscriptions h3{
	font-size: 18px;
	font-family: 'Open Sans',sans-serif;
	color: #323232;
}

.subscriptions-holder .subscription-details .subscriptions h4{
	font-size: 16px;
	font-family: 'Open Sans',sans-serif;
	color: #323232;
	padding-top: 10px;
	font-weight: 600;
}


.subscriptions-holder .subscription-details .subscriptions a.button{
	padding: 10px;
	text-transform: uppercase;
	font-weight: 600;
	float: right;
	background: #95a5a6;
	color: #ffffff;
	margin-left: 10px;
	margin-top: 5px;
	transition: 0.2s ease-in-out;
}

.subscriptions-holder .subscription-details .subscriptions a.button.cancel:hover{
	background: #C91F37;
}

.subscriptions-holder .subscription-details .subscriptions a.button:hover{
	background: #2cc185;
}


/** ============= INVOICE ============== **/
.right{
	text-align: right;
}
.invoice-head{
	border-bottom: 2px solid #333;
	padding-top: 20px;
	padding-bottom: 10px;
}
.invoice-head .items{
	line-height: 1.2em;
}
.logo img{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 30%;
}

.invoice-body{
	padding-top: 50px;
	padding-bottom: 100px;
	font-family: 'Open Sans',sans-serif;
}
/*.invoice-body .details{
	width: 66%;
	display: inline-block;
}
.invoice-body .details-1{
	width: 30%;
	display: inline-block;
}*/
.invoice-body .invoice-details{
	font-weight: 600;
	font-size: 16px;
}

.invoice-body h1{
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
}

.invoice-body ul li{
	margin-bottom: 10px;
}
.invoice-body ul.invoice-payment-fields li h1{
	font-weight: 700;
}

.invoice-body .address{
	margin-top: 50px;
}

.invoice-body .address h1{
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #000;
	text-transform: uppercase;
}

.invoice-body .address ul.billing-address-details li{
	margin-bottom: 10px;
	font-weight: 500;
}

.invoice-body .details ul.invoice-payment-fields{
	display: inline-block;
	width: 100%;
}

.invoice-body .address{
	margin-bottom: 50px;
}

.invoice-body .invoice-subscription h1{
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 600;
}

 a.btn-print{
	padding: 10px 20px;
	background: #16a085;
	color: #ffffff;
	font-size: 16px;
}
a.btn-print i{
	margin-right: 10px;
}

.invoice-body .invoice-subscription .subscription-thead{
	font-size: 16px;
	font-weight: 700;
	background: #16a085;
}
.invoice-body .invoice-subscription .subscription-thead h2{
	padding: 10px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .subscription-items{
	font-size: 16px;
	font-weight: 700;
}
.invoice-body .invoice-subscription .subscription-items h2{
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .sub-total h1{
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	background: #16a085;
	padding: 10px 0;
	color: #ffffff;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .sub-total h2{
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .sub-total{
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	width: 32%;
	float: right;
	text-align: center;
}
/** ============= INVOICE ============== **/

.status {
	padding-top: 50px;
	text-align: center;
}

.status h6 a{
	color: #16a085;
}

.status h5{
	font-size: 22px;
	margin-bottom: 10px;
}

.status h6{
	font-size: 16px;
	margin-bottom: 10px;
}
.hide{
	display: none;
}

.account-status{
	text-align: center;
	padding: 100px 30px;
	background: #ecf0f1;
	width: 55%;
	margin: 0 auto;
}

.account-status i{
	font-size: 70px;
	color: #f39c12;
	top: -20px;
	left: 10px;
	display: inline;
}

.account-status p{
	color: #bdc3c7;
	font-size: 30px;
    vertical-align: middle;
}

.account-status .button{
	text-align: center;
	background: #2cc185;
	margin-top: 20px;
	margin-bottom: 30px;
}

.account-status a{
	color: #bdc3c7;
	font-size: 25px;
	display: inline-block;
	margin: 0 auto;
	color: #ffffff;
}

.account-status a i{
	color: #ffffff;
	font-size: 25px;
    vertical-align: middle;
}

.item p.total{
	padding: 10px;
	background: #ecf0f1;
	color: #95a5a6;
}

.totalView p.total{
	padding: 15px;
	font-size: 20px;
	background: #bdc3c7;
	color: #ffffff;
}

.body-wrapper{
	width: 85%;
	background: #ecf0f1;
	margin-right: 0px;
	float: left;
}

 .body-head{
	background: #ffffff;
	color: #000;
	font-size: 20px;
	position: relative;
	padding: 15px;
}

.body-head img{
	width: 15%;
	margin: 0;
	display: inline-block;
}

.body-head i{
	margin-right: 10px;
}

.body-head input{
	padding: 5px;
	outline: none;
	border: 0px;
	font-size: 16px;
	color: #a3a3a3;
	border-bottom: 1.5px solid #ddd;
}

.body-head a{
	margin-left: 20px;
	color: #ffffff;
}

.body-head .search{
	margin: 0;
	position: absolute;
	top:25%;
	right: 50px;
}

.body-wrapper .admin-title{
	padding: 20px 0;
	color: #95a5a6;
	text-align: center;
}

.body-wrapper .admin-title h1{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.body-wrapper .admin-items h1{
	font-family: 'Open Sans',sans-serif;
	text-align: center;
	font-size: 16px;
	margin: 0;
}

.body-wrapper .admin-items{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}



/** =============================================== FB Marketing ========================================== **/


.auth-banner a{
	background: #f39c12;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	font-weight: 100;
	color: #ffffff;
	display: block;
}
.auth-banner.hide{
	display: none;
}

.auth-banner a:hover{
	opacity: 0.8;
}

.campaign{
	text-align: left;
	color: #2980b9;

}

.fb-login{
	background: #2980b9;
	color: #ffffff;
	padding: 10px;
	font-size: 18px;
	margin-bottom: 30px;
	display: inline-block;
	transition: 0.3s ease-in-out;
}

.fb-logout{
	background: #2980b9;
	color: #ffffff;
	padding: 10px;
	font-size: 18px;
	margin-bottom: 30px;
	display: inline-block;
	transition: 0.3s ease-in-out;
	float: right;
}

.fb-login:hover{
	opacity: 0.6;
}

.facebook-graph form.date-form{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	display: block;
	background: #ffffff;
	border: 1px solid #2980b9;
}

.facebook-graph form.date-form .date-wrapper{
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 20px;
}

.facebook-graph form.date-form .submit-btn{
	font-family: 'Raleway', sans-serif;
    border: 0px;
    background: #4267b2;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 20px;
}

.facebook-graph form.date-form .submit-btn:hover{
	opacity: 0.7;
}

.facebook-graph form.date-form .date-wrapper input.date-selector{
	padding: 5px;
	margin-left: 10px;
}

.campaign h1{
	font-size: 26px;
	margin-bottom: 30px;
	color: #2980b9;
	font-weight: 100;
}

.campaign-items{
	background: #ffffff;
	padding: 10px;
	margin-bottom: 10px;	
	position: relative;
}

.campaign-items .campaign-title{
	text-align: center;
}

.campaign-items h2{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}

.campaign-items h3{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans',sans-serif;
}

.campaign-items a.campaign-btn{
	padding: 20px;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 0px;
	z-index: 9999999;
	font-weight: 600;
	color: #2980b9;
	transition: 0.3s ease-in-out;
}

.campaign-items a.campaign-btn:hover{
	color: #3498db;
}


/** ================================================== PAGE ENGAGEMENT ======================================== */

.page-engagements{
	padding: 50px;
	padding-top: 0px;
}

.page-engagements h1{
	font-size: 28px;
	font-weight: 200;
	color:#3a5a98;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.page-engagements h2{
	font-size: 20px;
	font-weight: 500;
	color:#3a5a98;
	padding-bottom: 10px;
	border-bottom: 1px solid #2980b9;
	position: relative;
	margin-bottom: 20px;
}

.page-engagements h2 a{
	float: right;
	color: #e67e22;
	transition: 0.3s ease-in-out;
	outline: none;
}

.page-engagements h2 a:hover{
	color:#3a5a98;
}

.page-engagements h2 a i {
	padding-right: 10px;
}

.page-engagements span{
	font-size: 20px;
	font-weight: 600;
}

.ad-items{
	padding: 10px;
	background: #ffffff;
	margin-bottom: 20px;
}

.ad-items h3{
	font-size: 20px;
}

.ad-items h3{
	font-family: 'Open Sans',sans-serif;
	padding: 10px;
	border: 1px solid #2980b9;
}

.ad-items p{
	margin-top: 20px;
	color: #2980b9;
	font-size: 16px;
}

/** ====================================== FACEBOOK GRAPH  ====================================== **/
.facebook-graph{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

#reach_chart,#cpc_chart,#cpa_chart{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
	margin: 0 auto;
	background: #ffffff;
	/*box-shadow: 0 0 20px 1px #eeeeee;*/
	border: 1px solid #2980b9;
}



.l-chart{
	margin-top: 50px;
}
.facebook-graph h1{
	color: #2980b9;
	font-size: 25px;
	margin-bottom: 20px;
}

.facebook-graph .days .days-content{
	text-align: center;
	margin-bottom: 30px;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #2980b9;
}

.facebook-graph .days .days-content h2{
	font-size: 14px;
	font-weight: 800;
	margin-bottom: 10px;
}

.facebook-graph .days .days-content h3{
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #e67e22;
}

.facebook-graph .days .days-content .stats{
	padding: 10px;
}
