@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400,500,600,700,800,900');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body{
	font-family: 'Open Sans', sans-serif;
	background: #f4f4f4;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
}

a{ text-decoration: none; color: #323232 }


.button{
	padding: 10px 20px;
	display: inline-block;
	font-size: 15px!important;
	text-transform: uppercase!important;
}

.button.red{
	background: #e74c3c!important;
	padding: 10px 20px;
}
.button.green{
	background: #2ecc71!important;
	padding: 10px 20px;
}
.button.yellow{
	background: #f1c40f!important;
	padding: 10px 20px;
}
.button.blue{
	background: #3498db!important;
	padding: 10px 20px;
}
.button.violet{
	background: #9A59B6!important;
	padding: 10px 20px;
}
.button.orange{
	background: #f39c12!important;
	padding: 10px 20px;
}

.button .fa{
	margin-left: 10px;
	font-size: 18px;
}
/* ======================================= Top Header ======================================= */
.top-header{
	background: #323232;
	color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
}

.top-header .logo{
	max-width: 100%;
	height: auto;
}

.responsive-main-menu{
	display: none;
}
.menu-spacer-50{
	height: 0;
}

.top-header .main-menu{ margin-top: 10px; }

.top-header .main-menu li{
	float: left;
	margin-right: 30px;
}
.top-header .main-menu a{
	color: #888888;
}
.top-header .main-menu a:hover{
	color: #BBBBBB;
}

.top-header .user-info{ display: inline-block; float: right; }

.top-header .user-info .avatar{
	border-radius: 100%;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}

.top-header .user-info p{ display: inline-block; }

.top-header .user-info span{
	display: block;
	width: 100%;
	color: #DDDDDD;
	margin-right: 10px;
	margin-top: 5px;
}

.top-header .user-info a{
	color: #888888;
}





/* ====================================== Middle Header ============================================ */
.middle-header{
	background: #2cc185;
	color: #FFFFFF;
	padding-top: 50px;
	margin-bottom: 50px;
}

.middle-header ul{
	display: inline-block;
}

.middle-header li{
	float: left;
}
.middle-header li a{
	color: #FFFFFF;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	border-radius: 3px 3px 0px 0px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.middle-header li a:hover{
	background: #f4f4f4;
	color: #888888;
}
.middle-header li.current a{
	background: #f4f4f4;
	color: #888888;
	border-radius: 3px 3px 0px 0px;
}

/* Over View Graph */
.overview-graph{
	background: #FFFFFF;
	padding: 20px;
	margin-bottom: 50px;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart-container{
    width: 100%;
    margin: 0px;
}
.chart-container-clickthrough{
	width: 100%;
	margin: 0px;
}

.table-overview{
	width: 100%;
	margin-bottom: 50px;
	color: #888888
}
.table-overview tr.header{
	font-family: 'Raleway', sans-serif;
	background: #333333;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
}
.table-overview tr.header th{ padding-left: 20px; }

.table-overview .big{ width: 50%; }
.table-overview .small{ text-align: right; }

.table-overview th,
.table-overview td{ padding: 10px; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #DDDDDD }

.sub-charts{
	padding-bottom: 100px;
}

.sub-charts .chart-title,
.chart-title{
	font-family: 'Raleway', sans-serif;
	background: #333333;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	padding: 20px;
	position:relative;
}

.chart-title.orange{
	background: #d35400;
}
.chart-title.red{
	background: #c0392b;
}
.chart-title.wisteria{
	background: #8e44ad;
}
.chart-title.blue{
	background: #3498db;
}

/*
#filter{
	position: absolute;
	background: none;
	border: none;
	color: #ccc;
	font-size: 18px;
	outline: none;
	right: 20px;
	text-align: center;
	border:1px solid #888888;
	padding: 8px;
}
*/

#filter{
	display: inline-block;
	float: right;
	background: none;
	border: none;
	color: #CCCCCC;
	font-size: 18px;
	outline: none;
	border:1px solid #666666;
	padding: 8px;
}

 .chart-title option.filter-item{
	color: #cccccc;
	background: none;
	text-align: center;
}

.chart-title span{
	display: inline-block;
	float: left;
	margin: 0px;
	margin-top: 10px;
}

.sub-charts .item{
	margin-bottom: 50px;
}


/* ============================ Overview Selector CSS ======================== */


#overview-selector {
	display: none;
}

#ctr-selector {
	display: none;
}

#clicks-selector {
	display: none;
}

#session-selector {
	display: none;
}

#bounce-back-selector {
	display: none;
}

#session-duration-selector {
	display: none;
}

.sub-charts .one-half .ctr-graph,
.sub-charts .one-half .clicks-graph,
.sub-charts .one-half .session-graph,
.sub-charts .one-half .bounce-back-graph,
.sub-charts .one-half .session-duration-graph{
	background: #FFFFFF;
	padding: 40px;
}
.data-chart-1-container{
	display: block;
}

.DateRangeSelector{
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -1em;
    margin-left: -1em;
}

 .DateRangeSelector-item{	
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 1em;
	-webkit-box-flex: 1;
	flex-grow: 1;
    flex-shrink: 0;
	
}

.DateRangeSelector-item label{
	display: block;
	margin-bottom: 10px;
}

.DateRangeSelector-item input{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #AAAAAA;
	width: 100%;
	padding: 15px;
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	outline: transparent;
}

/** =========================== MY SUBSCRIPTIONS ======================== **/
.subscriptions-holder{
	padding-bottom: 50px;
}

.subscriptions-holder h1{
	background: #323232;
	padding: 20px;
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 30px;
	position: relative;
}

.subscriptions-holder a.new-subscribe{
	color: #ffffff;
	padding: 10px;
	top:10px;
	right:10px;
	position: absolute;
	background: #16a085
}

.subscriptions-holder a.new-subscribe i{
	padding: 0 10px;
}

.subscriptions-holder .subscription-details .subscription-title{
	background: #2cc185;
	padding: 20px;
	color: #ffffff;
}

.subscriptions-holder .subscription-details .items{
	text-align: center;
}
.subscriptions-holder .subscription-details .items h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}


.subscriptions-holder .subscription-details .subscriptions{
	
	
	margin-top: 30px;
	margin-bottom: 30px;
}

.subscriptions-holder .subscription-details .subscriptions .s-items{
	padding: 30px 0px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.subscriptions-holder .subscription-details .subscriptions h3{
	font-size: 18px;
	font-family: 'Open Sans',sans-serif;
	color: #323232;
}

.subscriptions-holder .subscription-details .subscriptions h4{
	font-size: 16px;
	font-family: 'Open Sans',sans-serif;
	color: #323232;
	padding-top: 10px;
	font-weight: 600;
}


.subscriptions-holder .subscription-details .subscriptions a.button{
	padding: 10px;
	text-transform: uppercase;
	font-weight: 600;
	float: right;
	background: #323232;
	color: #ffffff;
	margin-left: 10px;
	margin-top: 5px;
	transition: 0.2s ease-in-out;
}

.subscriptions-holder .subscription-details .subscriptions a.button.cancel:hover{
	background: #C91F37;
}

.subscriptions-holder .subscription-details .subscriptions a.button:hover{
	background: #2cc185;
}


/** ============= INVOICE ============== **/
.right{
	text-align: right;
}
.invoice-head{
	border-bottom: 2px solid #333;
	padding-top: 20px;
	padding-bottom: 10px;
}
.invoice-head .items{
	line-height: 1.2em;
}
.logo img{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 30%;
}

.invoice-body{
	padding-top: 50px;
	padding-bottom: 100px;
	font-family: 'Open Sans',sans-serif;
}
/*.invoice-body .details{
	width: 66%;
	display: inline-block;
}
.invoice-body .details-1{
	width: 30%;
	display: inline-block;
}*/
.invoice-body .invoice-details{
	font-weight: 600;
	font-size: 16px;
}

.invoice-body h1{
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
}

.invoice-body ul li{
	margin-bottom: 10px;
}
.invoice-body ul.invoice-payment-fields li h1{
	font-weight: 700;
}

.invoice-body .address{
	margin-top: 50px;
}

.invoice-body .address h1{
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #000;
	text-transform: uppercase;
}

.invoice-body .address ul.billing-address-details li{
	margin-bottom: 10px;
	font-weight: 500;
}

.invoice-body .details ul.invoice-payment-fields{
	display: inline-block;
	width: 100%;
}

.invoice-body .address{
	margin-bottom: 50px;
}

.invoice-body .invoice-subscription h1{
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 600;
}

 a.btn-print{
	padding: 10px 20px;
	background: #16a085;
	color: #ffffff;
	font-size: 16px;
}
a.btn-print i{
	margin-right: 10px;
}

.invoice-body .invoice-subscription .subscription-thead{
	font-size: 16px;
	font-weight: 700;
	background: #16a085;
}
.invoice-body .invoice-subscription .subscription-thead h2{
	padding: 10px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .subscription-items{
	font-size: 16px;
	font-weight: 700;
}
.invoice-body .invoice-subscription .subscription-items h2{
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .sub-total h1{
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	background: #16a085;
	padding: 10px 0;
	color: #ffffff;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .sub-total h2{
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.invoice-body .invoice-subscription .sub-total{
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	width: 32%;
	float: right;
	text-align: center;
}
/** ============= INVOICE ============== **/

.status {
	padding-top: 50px;
	text-align: center;
}

.status h6 a{
	color: #16a085;
}

.status h5{
	font-size: 22px;
	margin-bottom: 10px;
}

.status h6{
	font-size: 16px;
	margin-bottom: 10px;
}
.hide{
	display: none;
}

.account-status{
	text-align: center;
	padding: 30px 30px;
	background: #ecf0f1;
	width: 55%;
	margin: 0 auto;
}

.account-status i{
	font-size: 70px;
	color: #f39c12;
	top: -20px;
	left: 10px;
	display: inline;
}

.account-status p{
	color: #bdc3c7;
	font-size: 30px;
    vertical-align: middle;
}

.account-status .button{
	text-align: center;
	background: #2cc185;
	margin-top: 20px;
	margin-bottom: 30px;
}

.account-status a{
	color: #bdc3c7;
	font-size: 25px;
	display: inline-block;
	margin: 0 auto;
	color: #ffffff;
}

.account-status a i{
	color: #ffffff;
	font-size: 25px;
    vertical-align: middle;
}

.item p.total{
	padding: 10px;
	background: #ecf0f1;
	color: #95a5a6;
}

.totalView p.total{
	padding: 15px;
	font-size: 20px;
	background: #ecf0f1;
	color: #95a5a6;
}
